.breadcrumb-nav {
   margin-bottom: 1em;
   padding-bottom: 0.5em;
   border-bottom: 1px solid var(--light-grey);
}

.detail-details {
   padding-top: 15px;
}

.detail-image {
   margin-left: 50%;
   transform: translateX(-50%);
   max-width: 300px;
   align-self: self-start;
}

.value {
   color: var(--primary-colour);
   font-size: 20px;
}

.hidden {
   display: none;
}

.detail-container {
   display: grid;
   grid-auto-flow: column;
}
.detailsDiv {
   padding: 5rem;
   margin: auto auto;
}
.detailsImage {
   width: 15rem;
   padding: 1.5rem;
}
.brewer {
   font-style: italic;
   font-size: 1.2rem;
}

@media screen and (max-width: 780px) {
   .detail-container {
      grid-auto-flow: row;
   }
   .detailsName,
   .detailsTagline {
      text-align: center;
   }
   .detailsDiv {
      padding: 0.5rem;
   }
}
